Source: glusterfs
Section: admin
Priority: extra
Maintainer: lakshmipathi <lakshmipathi@gluster.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://www.gluster.com

Package: glusterfs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},nfs-common
Description: clustered file-system
 GlusterFS is a clustered file-system capable of scaling to several
 peta-bytes. It aggregates various storage bricks over Infiniband RDMA
 or TCP/IP interconnect into one large parallel network file
 system. GlusterFS is one of the most sophisticated file system in
 terms of features and extensibility. It borrows a powerful concept
 called Translators from GNU Hurd kernel. Much of the code in GlusterFS
 is in userspace and easily manageable.
